@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer components{
  .overlay  {
    @apply absolute inset-0 bg-black opacity-20;
  }
}